[Unit]
Description=Trigger slop-wake every hour
Requires=slop-wake.service

[Timer]
OnCalendar=hourly
RandomizedDelaySec=600
Persistent=true
Unit=slop-wake.service

[Install]
WantedBy=timers.target
